body {
    background: #7395ae;
    font-family: 'Josefin Sans', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    background-color:#557a95;
    text-align: center;
    color: #ffff;
    font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
    background-color: #5d5c61;
    color: #fff;
}

.myphoto {
    float: left;
    height: 300px;
    width: 330px;
    padding-right: 10px;
}

.smallscreen {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    align-content: center;
    height: 500px;
    width: 850px; 
}

.holdmyspot {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    align-content: center;
    height: 500px;
    width: 850px; 
}

.clearfix {
    overflow: auto;
}

.modal-header {
    
}